doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
           include ../public/css/styles.css
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Metal&display=swap")
        
body    
  block content
    div.navigation
      nav.nav 
       ul 
        li.imgwala
         img(src="/images/77.png", alt="")
        li#cross 
         img(src="/images/0.png",alt="",id="cross1")
        li#sec1
         a(href="#") IFC
        li#sec2
         a(href="#") Home 
        li#sec3
         a(href="#") About
        li#sec4
         a(href="#") Services
        li#sec5
         a(href="#") Class Info
        li#sec6
         a(href="/contact-us") Contact Us
        li
         div#menu
          div.menu1 
          div.menu1 
          div.menu1 

    div.container 
       h1 Welcome To Ifham's Yoga Academy 
       h2 Eat Sleep Yoga Repeat 
    div.heading
        h1 Our Mission
    div.cards
      div.card#card1
         h1 Expert Mentoring
         div.abc
          img(src="/images/79.png", alt="")
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, aliquam.
      div.card#card2
        h1 Yoga Perfection
        div.abc
         img(src="/images/80.png", alt="")
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, digniss!
      div.card#card3
        h1 Yoga Pose
        div.abc
         img(src="/images/81.png", alt="")
         Lorem ipsum dsjhkjhsks dolor sit, amet consectetur adipisicing elit. Ind.
    div.sponsors
      h1 Our Sponsors
      div.icons
       img(src="/images/11.png", alt="")
       img(src="/images/13.png", alt="")
       img(src="/images/82.png", alt="")
       img(src="/images/83.png", alt="")
    div.footer
      p Copywright &#169; Mohd Ifhamullah All Right Reserved
    script 
      include ../public/index.js
     
      